:root{
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);

    --font-weight-400: 400;
    --font-weight-700: 700;

    --font-size-reg: 15px;

    --spacing-s: 16px; 
    --spacing-reg: 24px;
    --spacing-lg: 40px;
    
    

}

body{
    background-color: var(--slate-300);
   *{
     /*change this when done*/
    border: 1px solid red;
   }
}

.main-container{
    background-color: var(--white);
    width: 320px;
    height: 499px;
}

.qr-image{
    width: 100%;
}

